<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <description>Validation Service</description>
    <display-name>Validation Service</display-name>
    
    <!-- REST -->
    <servlet-mapping>
        <servlet-name>org.bananaforscale.owls.validation.rest.ValidationApplication</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
    
    <!-- SOAP -->
    <servlet>
        <servlet-name>ComputeService</servlet-name>
        <servlet-class>org.bananaforscale.owls.validation.ws.ComputeImpl</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComputeService</servlet-name>
        <url-pattern>/ComputeService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EmployeeService</servlet-name>
        <servlet-class>org.bananaforscale.owls.validation.ws.EmployeeServiceImpl</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeService</servlet-name>
        <url-pattern>/EmployeeService</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
